@media screen and (max-width: 1200px) {
    .swiper {
        height: 400px;
      }
      .services-flex {
        justify-content: center;
      }
      .about-img {
        width: 500px;
      }
      h2 {
        text-align: center;
        margin: 0.3em 0;
      }
      .services {
        padding: 1em;
      }
      .about {
        padding: 2em;
      }
      .footer {
        padding: 1em;
      }
      .contact__flex-questions {
        text-align: center;
      }
      .message-btn {
        width: 200px;
        left: 0;
        display: block;
        margin: 20px auto 0;
        text-align: center;
    }
}



@media screen and (max-width: 1024px) {
    .header {
        justify-content: space-between;
    }
    .navbar {
        position: absolute;
        left: -310px;
        top: 0;
        background-color: #70686e;
        opacity: 0.95;
        color: white;
        padding: 50px 20px 20px 20px;
        width: 300px;
        transition: transform .5s;
        border-radius: 0 10px 10px 0;
    }
    .navbar ul, button {
        display: block;
    }
    .header_btn {
        margin-left: 0px; 
    }
    .menu__link {
        padding: 20px 0;
        display: block;
    }
    .header.open .navbar {
        transform: translateX(100%);
    }
    .header__burger-btn {
        display: block;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .swiper {
        height: 300px;
      }
      .about-img {
        width: 400px;
      }
      .online-btn {
        width: 220px;
        margin-top: 30px;
        left: 150px;
    }
}
@media screen and (max-width: 992px) {
.about-flex {
    justify-content: center;
    flex-wrap: wrap;
}


.about-container {
    width: 600px;
    
}
.header__info {
    background-color: #544e52;
}
.header__info-flex {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.title-img {
    height: 100%;
}
.header__content {
    color: #ffffff;
    position: relative;
    padding: 0px;
    margin: 0;
    top: -400px;
}
.header__content {
    padding: 0;
}
.wrapper-about {
    width: 100%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
.about-flex img {
    height: 100%;
    
}
.about-container {
    width: 100%;
    padding: 20px;
    
    border-radius: 0px 0px 10px 10px;
}
.swiper {
    height: 450px;
  }
  .online-btn {
    left: 0;
    margin: 0 auto;
}

}
@media screen and (max-width: 700px) {
    .about-img {
        width: 300px;
      }
      .clippy1 {
        clip-path: polygon(50% 80%, 100% 60%, 100% 100%, 0 100%, 0 60%);
        
       }
       .clippy2 {
        clip-path: polygon(50% 20%, 0 0, 100% 0);
       
       
       }
}
@media screen and (max-width: 768px) {
    .footer__flex {
        justify-content: center;
        flex-wrap: wrap;
        display: block;
        text-align: center;
    }
    .contact__form {
        display: block;
        width: 100%;
    }
    .name__form {
        width: 100%;
    }
    .email__form {
        width: 100%;
    }
    .message__form {
        width: 100%; 
    }
   
    .form-flex {
        display: block;
       
    }
    .footer__info {
        margin-top: 30px;
    }
    .swiper {
        height: 350px;
      }
    
}
@media screen and (max-width: 576px) {
     .message-btn {
        width: 100%;
    }
    a .fa {
        font-size: 30px;
        margin-right: 0px;
    }
    .swiper {
        height: 300px;
      }
      .header__content {
        
        padding-top: 130px;
    }
    
    .about {
        padding: 0.5em;
        margin-top: 20px;
    }
    h2 {
        font-size: 1.8em;
    }
    .contact {
        padding: 1em;
    }
    .online-btn {  
        top: -105px;
        
    }
    h1 {
        opacity: 0;
    }
    
}
@media screen and (max-width: 400px) {
    .title-img {
        width: 100%;
    }
    .title-phone {
        display: none;
    }
    .header__content {
        padding-top: 350px;
    }
   
    .swiper {
        height: 450px;
    }
    .portfolio {
        padding: 3em 0 3em 0;
    }
    .about-container {
        padding: 0px;
    }
    .header__info {
        height: 760px;
    }
    
}

